@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Poppins:wght@400;500;600&family=Roboto:wght@100;300;500&family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');
*{
  margin: 0;
  color: #333;
}
.navbar{
  font-family: "Roboto";
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  margin-left: 100px;
  margin-right: 100px;

  animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
  -o-animation: fadeIn linear 3s;
  -ms-animation: fadeIn linear 3s;

}
.navbar a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  padding: 5px;
  margin-left: 5px;
  
}
.navbar a:hover {
  color: rgb(206, 21, 21);
  cursor: pointer;

}
.navbar a.active {
  color: rgb(206, 21, 21);
}

.home{
  display: flex;
  flex-direction: column;
  margin-right: 50%;
  padding: 20px;
}
.home h1{
  font-family: "Roboto";
  margin-left: 100px;
  color: brown;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 30px;

  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(255, 22, 22); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: 
    typing 5s steps(50, end),
    blink-caret .75s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(255, 22, 22); }
}

.home h5{
  font-family: "Roboto";
  margin-left: 100px;
  color: brown;
  font-size: 50px;
  font-weight: 100;
  margin-top: 50px;

  animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
  -o-animation: fadeIn linear 3s;
  -ms-animation: fadeIn linear 3s;
}
.home p{
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-left: 100px;

  animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
  -o-animation: fadeIn linear 3s;
  -ms-animation: fadeIn linear 3s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.experience{
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  padding: 20px;
  margin-top: 180px;

}

.experience h1 {
  font-family: "Roboto";
  margin-left: 100px;
  color: brown;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 30px;

}
.experience p{
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-left: 100px;

}

.experience-content{
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  font-family: 'Courier New', Courier, monospace;
}

.experience-content li {
  font-family: "Roboto";
  font-size: 20px;
  color: black;
  font-weight: 300;
  margin-bottom: 20px;
  margin-left: 100px;

}
.projects{
  display: flex;
  flex-direction: column;
  margin-right: 50%;
  padding: 20px;
  margin-top: 200px;

}

.projects h1 {
  font-family: "Roboto";
  margin-left: 100px;
  color: brown;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 30px;

}
.projects p{
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-left: 100px;

}

.projects-content{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  font-family: 'Courier New', Courier, monospace;
}

.footer{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 100px;
}
.footer p {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer a {
  display: flex;
  flex-direction: row;
  justify-content: end;
  text-decoration: none;
  color: #333;
  font-size: 15px;
  font-weight: 600;
  padding: 5px;
  margin-left: 5px;
  
}